@{
    ViewData["Title"] = "Home Page";
}

<body>
    <main>
        <h1>Bienvenido</h1>
        <p>Selecciona la Opcion mas conveniente</p>
        <a href="">Iniciar Sesion</a>
        <a href="">Registrarse</a>
    </main>
</body>