@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Logica;
@using Obligatorio_P1
@model Persona;

<form method="post">

    <h1>REGISTRESE</h1>
    <p>Ingrese sus datos</p>
    <br />
    <label>MFA:</label>
    <input type="checkbox" name="MFA" value="true" />
    <br />
    <label for="UCContrase">Ultimo cambio de contraseña </label>
    <input type="date" name="UCContrase" />
    <br />
    <input type="submit" />


</form>
@ViewBag.Error