@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Logica;
@using Obligatorio_P1
@model Activo;

<form method="post">

    <h1>Crear Activo</h1>
    <p>Ingrese sus datos</p>
    <br />
    <label for="Name">Nombre: </label>
    <input type="text" name="Name" value="@Model.Name">
    <br />
    <label for="Tipo">Tipo: </label>
    <select name="Tipo">
        <option value="PC">PC</option>
        <option value="SERVER">SERVER</option>
        <option value="MOVIL">MOVIL</option>
    </select>
    <br />
    <label for="criticidad">Criticidad: </label>
    <input type="number" name="Criticidad" value="@Model.Criticidad" />
    <br />
    <label>Backup:</label>
    <input type="checkbox" name="Backup " value="true" />
    <br />
    <input type="submit" />


</form>