@model Logica.Activo

<h1>Baja de activo</h1>

<form method="post">
    <input type="hidden" asp-for="id" />
    <input type="hidden" name="cedulaPersona" value="@ViewBag.CedulaPersona" />
    <p><strong>Activo:</strong> @Model?.Name</p>
    <p><strong>ID:</strong> @Model?.id</p>

    <label>Realmente está seguro?</label>
    <input type="checkbox" name="chequeado" value="true" />
    <br />
    <input type="submit" value="Eliminar" />
</form>

